@{
    ViewData["Title"] = "Categorias";
}

   <img class="banner"src="/Img/Banner/@ViewBag.obj.Banner" alt="jjj">

 <br><br><br><br><br><br>

   
<html lang="en">
 <head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Recipe Card Food</title>
  <link rel="stylesheet" href="css/style.css" />
  <link
   rel="stylesheet"
   href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
   integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
   crossorigin="anonymous"
  />
 </head>
 <div class="cat">
   
    @foreach (Receta item in ViewBag.list_receta)
    {
         <div class="container3">
        <img src= "@item.Imagen" alt="foto"/>
        <div class="container3__text">
            <h1>@item.Titulo</h1>
            <div class="container3__text__star">
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
            <span class="fa fa-star checked"></span>
        </div>
    <p> @item.Descripcion
</p>
    <div class="container3__text__timing">
     <div class="container3__text__timing_time">
      <h2>Tiempo</h2>
      <p>@item.Tiempo</p>
     </div>
     <div class="container3__text__timing_time">
      <h2> Precio </h2>
      <p>@item.Precio</p>
     </div>
     <div class="container3__text__timing_time">
      <h2>Cantidad De Personas</h2>
      <p>@item.CantidadPersonas</p>
     </div>
    </div>
    <button class="btn">view recipe <i class="fa fa-arrow-right"></i></button>
   </div>
    </div>
    }
   </div>

</html>

  

    
    
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

